# Checking Real Claim Frequencies

In [1]:
import pandas as pd

In [30]:
df_articles = pd.read_csv("data/unifiedCSVs/raw_claim_articles.csv")
df_twitter = pd.read_csv("data/unifiedCSVs/raw_claim_twitter.csv")

In [41]:
df_twitter_subset = df_twitter[df_twitter["real_or_fake"] == "fake"]

count = df_twitter_subset["claim_id"].value_counts()

print(count)
print(count.index.tolist()[:30])
valid_claim_ids = count.index.tolist()[1:]

df_twitter_subset[df_twitter_subset["claim_id"].isin(valid_claim_ids)]["tweet_id"].to_csv("", index=False)

# df_twitter

# def check_valid_claim():


# df_twitter.apply(lambda row: check)

100003    864
100007     40
100004     35
100027     30
100005     28
100012     24
100013     13
100011     13
100008     12
100022     12
100001     10
100015      9
100019      9
100014      3
100023      2
100016      2
100018      2
100010      1
100002      1
Name: claim_id, dtype: int64
[100003, 100007, 100004, 100027, 100005, 100012, 100013, 100011, 100008, 100022, 100001, 100015, 100019, 100014, 100023, 100016, 100018, 100010, 100002]

       date      reply_id             tweet_id real_or_fake  claim_id
1075    NaN           NaN  1252630938770649089         fake    100001
1076    NaN           NaN  1243968198111789058         fake    100001
1077    NaN           NaN  1242474839966765056         fake    100001
1078    NaN           NaN  1242461115616866304         fake    100001
1079    NaN           NaN  1242400142335983619         fake    100001
...     ...           ...                  ...          ...       ...
18286   NaN           NaN  1257613718696931328         fake    100027
18287   NaN           NaN  1257611517417205761         fake    100027
19741   NaN  1.271261e+18  1271261017918472192         fake    100027
19742   NaN  1.269966e+18  1269957159724265472         fake    100027
19743   NaN  1.269966e+18  1269957159724265472         fake    100027

[246 rows x 5 columns]