# Checking Real Claim Frequencies

In [63]:
import pandas as pd

## Claim

In [84]:
df_claim_twitter = pd.read_csv("data/unifiedCSVs/raw_claim_twitter.csv")

In [97]:
# Fake
df_claim_twitter_fake_subset = df_claim_twitter[df_claim_twitter["real_or_fake"] == "fake"]

count = df_claim_twitter_fake_subset["claim_id"].value_counts()
count = count[count >= 9]
valid_claim_ids = count.index.tolist()[1:]

# print(count)

df_claim_twitter_fake_subset = df_claim_twitter_fake_subset[df_claim_twitter_fake_subset["claim_id"].isin(valid_claim_ids)]

print(f"Fake subset length: {df_claim_twitter_fake_subset.shape[0]}")

# Real
df_claim_twitter_real_subset = df_claim_twitter[df_claim_twitter["real_or_fake"] == "real"]

count = df_claim_twitter_real_subset["claim_id"].value_counts()
count = count[count >= 9]
valid_claim_ids = count.index.tolist()

# print(count[count >= 9])

df_claim_twitter_real_subset = df_claim_twitter_real_subset[df_claim_twitter_real_subset["claim_id"].isin(valid_claim_ids)]

print(f"Real subset length: {df_claim_twitter_real_subset.shape[0]}")

df_claim_twitter_fake_subset.append(df_claim_twitter_real_subset).to_csv("data/toPull/claim_twitter_ids.csv", index=False)

Fake subset length: 235
Real subset length: 20597

## News

In [99]:
df_news_articles = pd.read_csv("data/news_with_dates.csv")
df_news_articles = df_news_articles.dropna(subset=['date'])

news_id_list = df_news_articles["news_id"].tolist()

df_news_twitter = pd.read_csv("data/unifiedCSVs/raw_news_twitter.csv")

df_news_twitter = df_news_twitter[df_news_twitter["news_id"].isin(news_id_list)]

# df_claim_twitter_fake_subset = df_claim_twitter_fake_subset[df_claim_twitter_fake_subset["claim_id"].isin(valid_claim_ids)]
# df_news_twitter.shape[0]
# df_news_twitter2
df_news_twitter

        news_id  date real_or_fake             tweet_id
0           891   NaN         fake  1300283193250246658
1           891   NaN         fake  1300187087421886464
2           900   NaN         fake  1296588646552932352
3           900   NaN         fake  1296234752463245313
4           903   NaN         fake  1290072458129584129
...         ...   ...          ...                  ...
274876     4296   NaN         real  1321060426206093315
274877     4296   NaN         real  1315896649785372672
274878     4311   NaN         real  1319572296319774720
274879     4311   NaN         real  1316748475510542350
274880     4311   NaN         real  1310630581349253124

[248910 rows x 4 columns]

In [100]:
# Fake
df_news_twitter_fake_subset = df_news_twitter[df_news_twitter["real_or_fake"] == "fake"]

count = df_news_twitter_fake_subset["news_id"].value_counts()
count = count[count >= 9]

valid_news_ids = count.index.tolist()

df_news_twitter_fake_subset = df_news_twitter_fake_subset[df_news_twitter_fake_subset["news_id"].isin(valid_news_ids)]

print(f"Fake subset length: {df_news_twitter_fake_subset.shape[0]}")

# Real
df_news_twitter_real_subset = df_news_twitter[df_news_twitter["real_or_fake"] == "real"]

count = df_news_twitter_real_subset["news_id"].value_counts()
count = count[count >= 9]

valid_news_ids = count.index.tolist()

df_news_twitter_real_subset = df_news_twitter_real_subset[df_news_twitter_real_subset["news_id"].isin(valid_news_ids)]

print(f"Real subset length: {df_news_twitter_real_subset.shape[0]}")

df_news_twitter_fake_subset.append(df_news_twitter_real_subset).to_csv("data/toPull/news_twitter_ids.csv", index=False)

Fake subset length: 15475
Real subset length: 231292